@page "/driverentry"
<h1>Driver Entry Page</h1>
<p><label>Driver Name: <input type="text"></label></p>
<p><label>Driver Car Number: <input type="text"></label></p>
<p><label>Driver Rank: <input type="text"></label></p>
<p><label><input type="button" value="Add Participant" @onclick="AddParticipant"></label></p>
@code{
    private void AddParticipant()
    {
        
    }
}