@page "/driverentry"
<h1>Participant Entry Page</h1>
<p><label>Participant Name: <input type="text"></label></p>
<p><label>Participant Car Number: <input type="text"></label></p>
<p><label>Participant Rank: <input type="text"></label></p>
<p><label><input type="button" value="Add Participant" @onclick="AddParticipant"></label></p>
@code{
    private void AddParticipant()
    {

    }
}