@page "/eventsandraces"
<style>
    #eventbutton {
        color: black;
        background-color: white;
        border: 2px solid black;
    }
</style>
<h1>Events and Races</h1>
<h3>Would you like to start an event?</h3>
<p><input type="button" value="Add Event" id="#eventbutton"></p>

@code{

}